/* 전체 페이지 스타일 */
.create-group-page {
  width: 100%;
  max-width: 350px;
  margin: 112px auto;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 상단 헤더 스타일 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 폼 스타일 */
.create-group-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* 레이블 스타일 */
.create-group-form label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

/* 입력 필드 스타일 */
.create-group-form input,
.create-group-form textarea {
  width: 100%;
  max-width: 290px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* 파일 업로드 스타일 */
.create-group-form input[type="file"] {
  border: none;
  padding: 5px;
}

/* 버튼 그룹 스타일 */
/* .button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
} */

/* 버튼 스타일
.button-group button {
  width: 100%;
  max-width: 290px;
  height: 40px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* 제출 버튼 */
.submit-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 290px;
  height: 40px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #6A6765;
  color: white;
}

.submit-btn:hover {
  background-color: #282828;
}