/* EditGroup.css */

/* 전반적인 컨테이너 스타일 */
.edit-group-container {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FAFAFA;
  }
  
  /* 그룹명 스타일 */
  .edit-group-container label.group-name {
    display: block; /* 블록 요소로 표시 */
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 8px; /* 라벨과 입력란 사이의 여백 추가 */
  }
  
  .edit-group-container input.group-name-input,
  .edit-group-container textarea.group-intro-input,
  .edit-group-container input.password-input {
    display: block; /* 블록 요소로 표시 */
    width: 100%;
    height: 45px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding-left: 10px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    color: #B8B8B8;
    margin-bottom: 20px; /* 입력란 사이의 여백 추가 */
  }
  
  .edit-group-container textarea.group-intro-input {
    height: 120px;
    resize: none;
  }
  
  .edit-group-container input.password-input {
    height: 45px;
  }
  
  /* 그룹 공개 선택 */
  .toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .toggle span {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    color: #282828;
  }
  
  .toggle .slider {
    background: #282828;
    border-radius: 15px;
  }
  
  /* 버튼 스타일 */
  .button-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .button-group button {
    width: 100px;
    height: 45px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    margin: 0 10px; /* 버튼 간의 여백 추가 */
  }
  
  .button-group .submit-btn {
    background: #282828;
    color: #FAFAFA;
    border: none;
  }
  
  .button-group .delete-btn {
    background: #FAFAFA;
    color: #282828;
    border: 1px solid #282828;
  }
  
  .edit-group-container h2 {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #282828;
    margin-top: 140px;
  }
  